.elementor-kit-63 {
  --e-global-color-primary: #0a0a0a;
  --e-global-color-secondary: #d1d1d1;
  --e-global-color-text: #aaaaaa;
  --e-global-color-accent: #0d4ed1;
  --e-global-color-34daa62: #323aed;
  --e-global-color-c0b3588: #1f1f1f;
  --e-global-color-3eccff8: #0e0e0e;
  --e-global-typography-primary-font-family: "Anton";
  --e-global-typography-primary-font-size: 16px;
  --e-global-typography-primary-font-weight: 400;
  --e-global-typography-primary-line-height: 1.5em;
  --e-global-typography-secondary-font-family: "Anton";
  --e-global-typography-secondary-font-size: 16px;
  --e-global-typography-secondary-font-weight: 400;
  --e-global-typography-secondary-line-height: 1.5em;
  --e-global-typography-text-font-family: "Plus Jakarta Sans";
  --e-global-typography-text-font-size: 16px;
  --e-global-typography-text-font-weight: 600;
  --e-global-typography-text-line-height: 1.6em;
  --e-global-typography-accent-font-family: "Anton";
  --e-global-typography-accent-font-size: 18px;
  --e-global-typography-accent-font-weight: 300;
  --e-global-typography-accent-line-height: 1.5em;
  --e-global-typography-f2c62b2-font-family: "Anton";
  --e-global-typography-f2c62b2-font-size: 240px;
  --e-global-typography-f2c62b2-font-weight: 400;
  --e-global-typography-f2c62b2-line-height: 1em;
  --e-global-typography-eaa90ab-font-family: "Anton";
  --e-global-typography-eaa90ab-font-size: 75px;
  --e-global-typography-eaa90ab-font-weight: 400;
  --e-global-typography-eaa90ab-line-height: 1.1em;
  --e-global-typography-d3ca185-font-family: "Anton";
  --e-global-typography-d3ca185-font-size: 40px;
  --e-global-typography-d3ca185-font-weight: 400;
  --e-global-typography-d3ca185-line-height: 1.2em;
  --e-global-typography-418dc82-font-family: "Anton";
  --e-global-typography-418dc82-font-size: 32px;
  --e-global-typography-418dc82-font-weight: 400;
  --e-global-typography-418dc82-line-height: 1.3em;
  --e-global-typography-6afc8f9-font-family: "Anton";
  --e-global-typography-6afc8f9-font-size: 20px;
  --e-global-typography-6afc8f9-font-weight: 500;
  --e-global-typography-29ddacf-font-family: "Anton";
  --e-global-typography-29ddacf-font-size: 16px;
  --e-global-typography-29ddacf-font-weight: 400;
  --e-global-typography-1c6502d-font-family: "Anton";
  --e-global-typography-1c6502d-font-size: 150px;
  --e-global-typography-1c6502d-font-weight: 400;
  --e-global-typography-1c6502d-line-height: 1em;
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  line-height: var(--e-global-typography-text-line-height);
  background-color: #0a0a0a;
}
.elementor-kit-63 a {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  line-height: var(--e-global-typography-text-line-height);
}
.elementor-kit-63 h1 {
  font-family: var(--e-global-typography-f2c62b2-font-family), Sans-serif;
  font-size: var(--e-global-typography-f2c62b2-font-size);
  font-weight: var(--e-global-typography-f2c62b2-font-weight);
  line-height: var(--e-global-typography-f2c62b2-line-height);
  letter-spacing: var(--e-global-typography-f2c62b2-letter-spacing);
  word-spacing: var(--e-global-typography-f2c62b2-word-spacing);
}
.elementor-kit-63 h2 {
  font-family: var(--e-global-typography-eaa90ab-font-family), Sans-serif;
  font-size: var(--e-global-typography-eaa90ab-font-size);
  font-weight: var(--e-global-typography-eaa90ab-font-weight);
  line-height: var(--e-global-typography-eaa90ab-line-height);
  letter-spacing: var(--e-global-typography-eaa90ab-letter-spacing);
  word-spacing: var(--e-global-typography-eaa90ab-word-spacing);
}
.elementor-kit-63 h3 {
  font-family: var(--e-global-typography-d3ca185-font-family), Sans-serif;
  font-size: var(--e-global-typography-d3ca185-font-size);
  font-weight: var(--e-global-typography-d3ca185-font-weight);
  line-height: var(--e-global-typography-d3ca185-line-height);
  letter-spacing: var(--e-global-typography-d3ca185-letter-spacing);
  word-spacing: var(--e-global-typography-d3ca185-word-spacing);
}
.elementor-kit-63 h4 {
  font-family: var(--e-global-typography-418dc82-font-family), Sans-serif;
  font-size: var(--e-global-typography-418dc82-font-size);
  font-weight: var(--e-global-typography-418dc82-font-weight);
  line-height: var(--e-global-typography-418dc82-line-height);
  letter-spacing: var(--e-global-typography-418dc82-letter-spacing);
  word-spacing: var(--e-global-typography-418dc82-word-spacing);
}
.elementor-kit-63 h5 {
  font-family: var(--e-global-typography-6afc8f9-font-family), Sans-serif;
  font-size: var(--e-global-typography-6afc8f9-font-size);
  font-weight: var(--e-global-typography-6afc8f9-font-weight);
  line-height: var(--e-global-typography-6afc8f9-line-height);
  letter-spacing: var(--e-global-typography-6afc8f9-letter-spacing);
  word-spacing: var(--e-global-typography-6afc8f9-word-spacing);
}
.elementor-kit-63 h6 {
  font-family: var(--e-global-typography-29ddacf-font-family), Sans-serif;
  font-size: var(--e-global-typography-29ddacf-font-size);
  font-weight: var(--e-global-typography-29ddacf-font-weight);
  line-height: var(--e-global-typography-29ddacf-line-height);
  letter-spacing: var(--e-global-typography-29ddacf-letter-spacing);
  word-spacing: var(--e-global-typography-29ddacf-word-spacing);
}
.elementor-kit-63 button,
.elementor-kit-63 input[type="button"],
.elementor-kit-63 input[type="submit"],
.elementor-kit-63 .elementor-button {
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-size: var(--e-global-typography-accent-font-size);
  font-weight: var(--e-global-typography-accent-font-weight);
  line-height: var(--e-global-typography-accent-line-height);
  color: var(--e-global-color-secondary);
  background-color: var(--e-global-color-accent);
  border-radius: 10px 10px 10px 10px;
}
.elementor-kit-63 button:hover,
.elementor-kit-63 button:focus,
.elementor-kit-63 input[type="button"]:hover,
.elementor-kit-63 input[type="button"]:focus,
.elementor-kit-63 input[type="submit"]:hover,
.elementor-kit-63 input[type="submit"]:focus,
.elementor-kit-63 .elementor-button:hover,
.elementor-kit-63 .elementor-button:focus {
  color: var(--e-global-color-accent);
  background-color: var(--e-global-color-secondary);
  border-radius: 10px 10px 10px 10px;
}
.elementor-kit-63 label {
  color: var(--e-global-color-secondary);
  font-family: var(--e-global-typography-29ddacf-font-family), Sans-serif;
  font-size: var(--e-global-typography-29ddacf-font-size);
  font-weight: var(--e-global-typography-29ddacf-font-weight);
  line-height: var(--e-global-typography-29ddacf-line-height);
  letter-spacing: var(--e-global-typography-29ddacf-letter-spacing);
  word-spacing: var(--e-global-typography-29ddacf-word-spacing);
}
.elementor-kit-63 input:not([type="button"]):not([type="submit"]),
.elementor-kit-63 textarea,
.elementor-kit-63 .elementor-field-textual {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  line-height: var(--e-global-typography-text-line-height);
  color: var(--e-global-color-text);
  border-radius: 10px 10px 10px 10px;
}
.elementor-section.elementor-section-boxed > .elementor-container {
  max-width: 1250px;
}
.e-con {
  --container-max-width: 1250px;
}
.elementor-widget:not(:last-child) {
  margin-block-end: 20px;
}
.elementor-element {
  --widgets-spacing: 20px 20px;
}
 {
}
h1.entry-title {
  display: var(--page-title-display);
}
.elementor-kit-63 e-page-transition {
  background-color: #ffbc7d;
}
.site-header .site-branding {
  flex-direction: column;
  align-items: stretch;
}
.site-header {
  padding-inline-end: 0px;
  padding-inline-start: 0px;
}
.site-footer .site-branding {
  flex-direction: column;
  align-items: stretch;
}
@media (max-width: 1024px) {
  .elementor-kit-63 {
    --e-global-typography-f2c62b2-font-size: 135px;
    --e-global-typography-f2c62b2-line-height: 1em;
    --e-global-typography-eaa90ab-font-size: 50px;
    --e-global-typography-eaa90ab-line-height: 1.1em;
    --e-global-typography-d3ca185-font-size: 35px;
    --e-global-typography-d3ca185-line-height: 1.2em;
    --e-global-typography-418dc82-font-size: 28px;
    --e-global-typography-1c6502d-font-size: 90px;
    --e-global-typography-1c6502d-line-height: 1em;
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }
  .elementor-kit-63 a {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }
  .elementor-kit-63 h1 {
    font-size: var(--e-global-typography-f2c62b2-font-size);
    line-height: var(--e-global-typography-f2c62b2-line-height);
    letter-spacing: var(--e-global-typography-f2c62b2-letter-spacing);
    word-spacing: var(--e-global-typography-f2c62b2-word-spacing);
  }
  .elementor-kit-63 h2 {
    font-size: var(--e-global-typography-eaa90ab-font-size);
    line-height: var(--e-global-typography-eaa90ab-line-height);
    letter-spacing: var(--e-global-typography-eaa90ab-letter-spacing);
    word-spacing: var(--e-global-typography-eaa90ab-word-spacing);
  }
  .elementor-kit-63 h3 {
    font-size: var(--e-global-typography-d3ca185-font-size);
    line-height: var(--e-global-typography-d3ca185-line-height);
    letter-spacing: var(--e-global-typography-d3ca185-letter-spacing);
    word-spacing: var(--e-global-typography-d3ca185-word-spacing);
  }
  .elementor-kit-63 h4 {
    font-size: var(--e-global-typography-418dc82-font-size);
    line-height: var(--e-global-typography-418dc82-line-height);
    letter-spacing: var(--e-global-typography-418dc82-letter-spacing);
    word-spacing: var(--e-global-typography-418dc82-word-spacing);
  }
  .elementor-kit-63 h5 {
    font-size: var(--e-global-typography-6afc8f9-font-size);
    line-height: var(--e-global-typography-6afc8f9-line-height);
    letter-spacing: var(--e-global-typography-6afc8f9-letter-spacing);
    word-spacing: var(--e-global-typography-6afc8f9-word-spacing);
  }
  .elementor-kit-63 h6 {
    font-size: var(--e-global-typography-29ddacf-font-size);
    line-height: var(--e-global-typography-29ddacf-line-height);
    letter-spacing: var(--e-global-typography-29ddacf-letter-spacing);
    word-spacing: var(--e-global-typography-29ddacf-word-spacing);
  }
  .elementor-kit-63 button,
  .elementor-kit-63 input[type="button"],
  .elementor-kit-63 input[type="submit"],
  .elementor-kit-63 .elementor-button {
    font-size: var(--e-global-typography-accent-font-size);
    line-height: var(--e-global-typography-accent-line-height);
  }
  .elementor-kit-63 label {
    font-size: var(--e-global-typography-29ddacf-font-size);
    line-height: var(--e-global-typography-29ddacf-line-height);
    letter-spacing: var(--e-global-typography-29ddacf-letter-spacing);
    word-spacing: var(--e-global-typography-29ddacf-word-spacing);
  }
  .elementor-kit-63 input:not([type="button"]):not([type="submit"]),
  .elementor-kit-63 textarea,
  .elementor-kit-63 .elementor-field-textual {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }
  .elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 1024px;
  }
  .e-con {
    --container-max-width: 1024px;
  }
}
@media (max-width: 767px) {
  .elementor-kit-63 {
    --e-global-typography-f2c62b2-font-size: 60px;
    --e-global-typography-f2c62b2-line-height: 1.1em;
    --e-global-typography-eaa90ab-font-size: 45px;
    --e-global-typography-eaa90ab-line-height: 1.1em;
    --e-global-typography-d3ca185-font-size: 32px;
    --e-global-typography-418dc82-font-size: 28px;
    --e-global-typography-1c6502d-font-size: 60px;
    --e-global-typography-1c6502d-line-height: 1.1em;
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }
  .elementor-kit-63 a {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }
  .elementor-kit-63 h1 {
    font-size: var(--e-global-typography-f2c62b2-font-size);
    line-height: var(--e-global-typography-f2c62b2-line-height);
    letter-spacing: var(--e-global-typography-f2c62b2-letter-spacing);
    word-spacing: var(--e-global-typography-f2c62b2-word-spacing);
  }
  .elementor-kit-63 h2 {
    font-size: var(--e-global-typography-eaa90ab-font-size);
    line-height: var(--e-global-typography-eaa90ab-line-height);
    letter-spacing: var(--e-global-typography-eaa90ab-letter-spacing);
    word-spacing: var(--e-global-typography-eaa90ab-word-spacing);
  }
  .elementor-kit-63 h3 {
    font-size: var(--e-global-typography-d3ca185-font-size);
    line-height: var(--e-global-typography-d3ca185-line-height);
    letter-spacing: var(--e-global-typography-d3ca185-letter-spacing);
    word-spacing: var(--e-global-typography-d3ca185-word-spacing);
  }
  .elementor-kit-63 h4 {
    font-size: var(--e-global-typography-418dc82-font-size);
    line-height: var(--e-global-typography-418dc82-line-height);
    letter-spacing: var(--e-global-typography-418dc82-letter-spacing);
    word-spacing: var(--e-global-typography-418dc82-word-spacing);
  }
  .elementor-kit-63 h5 {
    font-size: var(--e-global-typography-6afc8f9-font-size);
    line-height: var(--e-global-typography-6afc8f9-line-height);
    letter-spacing: var(--e-global-typography-6afc8f9-letter-spacing);
    word-spacing: var(--e-global-typography-6afc8f9-word-spacing);
  }
  .elementor-kit-63 h6 {
    font-size: var(--e-global-typography-29ddacf-font-size);
    line-height: var(--e-global-typography-29ddacf-line-height);
    letter-spacing: var(--e-global-typography-29ddacf-letter-spacing);
    word-spacing: var(--e-global-typography-29ddacf-word-spacing);
  }
  .elementor-kit-63 button,
  .elementor-kit-63 input[type="button"],
  .elementor-kit-63 input[type="submit"],
  .elementor-kit-63 .elementor-button {
    font-size: var(--e-global-typography-accent-font-size);
    line-height: var(--e-global-typography-accent-line-height);
  }
  .elementor-kit-63 label {
    font-size: var(--e-global-typography-29ddacf-font-size);
    line-height: var(--e-global-typography-29ddacf-line-height);
    letter-spacing: var(--e-global-typography-29ddacf-letter-spacing);
    word-spacing: var(--e-global-typography-29ddacf-word-spacing);
  }
  .elementor-kit-63 input:not([type="button"]):not([type="submit"]),
  .elementor-kit-63 textarea,
  .elementor-kit-63 .elementor-field-textual {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }
  .elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 767px;
  }
  .e-con {
    --container-max-width: 767px;
  }
}
